* {
  box-sizing: border-box;
}

html {
  font-family: $font-main;
  font-size: $font-size;
}

body {
  background-color: $color-light;
  transition: transform 0.25s;
  overflow-x: hidden;
  width: 100%;

  &::before {
    position: absolute;
    z-index: -10;
    top: 0;
    right: 0;
    left: 0;
    height: 0;
    content: "";
    transition: opacity 1s;
    opacity: 0;
    background-color: $color-main;
  }

  &.active {
    transform: translateX(-$navbar-mobile-width);
    overflow-y: hidden;
    &::before {
      height: 100%;
      z-index: 10;
      opacity: 0.85;
    }
  }
}

a {
  transition: color 0.5s;
  text-decoration: none;

  color: $color-main;
}

.container {
  display: grid;

  max-width: $max-width;
  margin: 0 auto;
  padding-right: $gap;
  padding-left: $gap;
}

