.header-slider {
  overflow: hidden;

  @include md-min {
    grid-template-rows: minmax(500px, max-content) 100px;
  }
  @include md {
    grid-template-rows: minmax(300px, max-content) 80px;
  }
}

.slides {
  position: relative;
}

.slide {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;

  display: grid;

  margin-top: $gap;

  transition: transform 0.5s;
  transform: translateX(100vw);

  grid-template-rows: minmax(106px, max-content) auto 1fr auto;
  grid-row-gap: $gap;
  @include lg-min {
    grid-auto-columns: 1fr auto;
    grid-column-gap: 180px;
    grid-template-areas: "ttl img" "stl img" "dsc img" "brd img";
  }
  @include lg-md {
    grid-auto-columns: 1fr auto;
    grid-column-gap: 60px;
    grid-template-areas: "ttl img" "stl img" "dsc img" "brd img";
  }
  @include md-sm {
    grid-auto-columns: 1fr 1fr;
    grid-column-gap: 40px;
    grid-template-areas: "ttl img" "stl img" "dsc img" "brd img";
  }
  @include sm {
    grid-auto-columns: 1fr 1fr;
    grid-column-gap: 20px;
    grid-template-areas: "ttl ttl" "stl stl" "dsc img" "brd brd";
  }

  &.active {
    position: relative;
    z-index: 1;

    transform: translateX(0);
  }

  &.moved {
    z-index: 1;

    transform: translateX(-100vw);
  }

  &__title {
    margin: 0;

    font-size: 2rem;

    grid-area: ttl;
    align-self: end;
  }

  &__subtitle {
    margin: 0;

    font-size: 1.25rem;

    grid-area: stl;
  }

  &__description {
    margin: 0;

    color: $color-gray;

    line-height: 1.25;

    grid-area: dsc;
  }

  &__image {
    margin-top: 4px;

    grid-area: img;
    @include md-min {
      margin-right: $gap * 1.5;
    }
    @include md {
      img {
        max-width: 100%;
      }
    }
  }

  &__brands {
    display: flex;

    margin: ($gap * 0.85) 0 4px;
    padding: 0;

    list-style: none;

    grid-area: brd;
    @include sm {
      justify-content: center;
    }

    li:not(:last-of-type) {
      margin-right: $gap * 1.75;
    }

    i {
      font-size: 2.75rem;
    }

    a {
      display: block;

      transition: transform 0.25s;

      &:hover,
      &:focus {
        transform: translateY(-5px);
      }
    }
  }
}

.indicators {
  display: flex;

  margin: 0;
  padding: 0;

  list-style: none;

  justify-content: center;
  align-items: center;
}

.indicator {
  width: $gap * 0.75;
  height: $gap * 0.75;
  margin: -9px 3px 0;

  cursor: pointer;

  opacity: 0.5;
  border-radius: $gap * 0.375;
  background-color: $color-light;

  &.active {
    opacity: 1;
  }
}