.header-logo {
  display: flex;

  margin-top: -5px;

  align-items: center;

  &__image {
    display: block;
  }

  &__title {
    display: block;

    margin-left: $gap / 2;

    font-size: 1.875rem;
  }
}